@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Roboto", Helvetica, sans-serif;
  --base-font-size: 16px;
  --background-color: #40a2e3;
  --primary-color: #bbe2ec;
  --secondary-color: #fff6e9;
  --white-color: #ffffff;
  --black-color: #000000;
  --success-color: #0d9276;
}

* {
  font-size: var(--base-font-size);
  font-family: var(--primary-font);
}
